.groupList {
  height: 100%;
  padding: 24px;
  background-color: #fff;
  .search {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .groupItem {
    padding: 8px 12px;
    border-radius: 8px;
    // background-color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease-in-out;
    .groupName {
      font-size: 16px;
    }
    & + .groupItem {
      margin-top: 12px;
    }
    &:hover,
    &.isActive {
      background-color: #ededed;
      cursor: pointer;
    }
  }
}
