.todoList {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
    }
    .operation {
    }
  }
  .content {
    flex-grow: 1;
    padding: 16px;
    overflow-y: scroll;
  }
  .footer {
    padding: 16px;
  }
}

.todoItem {
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & + & {
    margin-top: 16px;
  }
}
